<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1> Hello Welcome to home page</h1>

        <table border="3px">
            <tr>
                <th>Emp Name</th>
                <th>Emp Pno</th>
                <th>Emp Email</th>
                <th>Emp Address</th>
            </tr>
            {% for emp in EmployeeObjects %}
            <tr>
                <td>{{emp.ename}}</td>
                <td>{{emp.pno}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.add}}</td>
            </tr>
            {% endfor %}
        </table>

    </center>
</body>

</html>